<!DOCTYPE html>
<html>
<head>
<h1>timetable generator</h1>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #F3BFE7;} /* CREATE */
.button2 {background-color: #D6C1E7;} /* SAVED */
</style>
</head>
<body>

<!--<button1 onclick = "window.location.href='file:///D:/PRO/tt/templates/page%202.html';"-->


<button class="button button1"><a href="{% url 'class1' %}">CREATE</a></button>
<button class="button button2">SAVED</button>

<!-- does not process in HTML, this is to tell django what to do-->
{% for subject in subjects %}
  <!-- the double curly braces are to access an field in the variable, see the models.py file to know what to put after the dot.-->
  <p>{{subject.subject}} -> Freq {{subject.frequency_s}}</p>
{% endfor %}

</body>
</html>